<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de aluno</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <div class="formulario">
        <form name="cadastro" id="cadastro" method="POST">
            <label for="nome">Nome: </label>
            <br/>
            <input name="nome" id="nome">
            <br/>
            <br/>
            <label for="email">Email: </label>
            <br/>
            <input name="email" type="email" id="email">
            <br/>
            <br />
            <label for="telefone">Celular: </label>
            <br/>
            <input id="celular" name="celular" type="tel">
            <br/>
            <br/>
            <label for="ra">RA: </label>
            <br/>
            <input name="ra" type="number" id="ra">
            <br/>
            <br/>
            <label for="curso">Curso: </label>
            <br/>
            <select name="curso" id="curso"> 
                <option id="curso">Selecione</option>
                <option value="SI">Sistemas de informação</option>
                <option value="RC">Redes</option>
                <option value="GS">Gestão de SI</option>
                <option value="AS">Análise de Sistemas</option>
            </select>
            <br>
            <br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>