<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de professor</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Bem vindo!</h1>
    <ul>
        <li>
            <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
            <a href="{% url 'cadastro_aluno' %}">Cadastro aluno</a>
        </li>
        <li>
            <a href="{% url 'cadastro_professor' %}">Cadastro professor</a>
        </li>
        <li>
            <a href="{% url 'cadastro_disciplina' %}">Cadastro disciplina</a>
        </li>
    </ul>
</body>
</html>